body{
  margin: 0;
  padding: 0;
  font-family: "sagoe UI", sans-serif;
  background : Linear-gradient(to right , #0f2027,#203a43,#2c5364);
}
.app-container{
  display : flex;
  justify-content: center;
  align-items: center;
  height :100vh;
}
